page-sort-modal {
    .scroll-content {
        overflow: hidden;
        margin-top: 20px !important;
    }
    ion-icon {
        vertical-align: middle;
        font-size: 2.2em;
    }
    ion-item.item {
        padding-left: 0px;
        font-size: 1.5rem;
    }
}