<!--
  Generated template for the OrderListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <proto-header title="Auftragsübersicht" isLineSolid="true"></proto-header>
</ion-header>

<ion-content padding-horizontal no-bounce>
  <div class="align-center">
    <button ion-button (click)="onScanTapped($event)">
      <ion-icon name="custom-barcodescanner"></ion-icon>
      Auftrag scannen
    </button>
  </div>

  <div *ngIf="orders?.length === 0">
    <h2>
      Zur Zeit gibt es keine eingeplanten Aufträge
    </h2>
  </div>
  <div class="flex-wrap">
    <div *ngFor="let order of orders" class="custom-item">
      <order-card [order]="order"></order-card>
    </div>
  </div>
</ion-content>

<ion-footer>
  <proto-footer title="Planung"></proto-footer>
</ion-footer>